In [ ]:

! pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd /content/drive/MyDrive/Github/
%cd sampledatafoodsales
%ls -a

/content/drive/MyDrive/Github
/content/drive/MyDrive/Github/sampledatafoodsales
sampledatafoodsales.xlsx

In [ ]:

from openpyxl import Workbook

workbook = Workbook()
sheet = workbook.active

sheet["A1"] = "hello"
sheet["B1"] = "world!"

workbook.save(filename="hello_world.xlsx")

In [ ]:

from openpyxl import load_workbook
workbook = load_workbook(filename="stock-quotes.xlsx")

workbook.sheetnames

sheet = workbook.active
print(sheet.title)
print(sheet["A1"])
print(sheet["A2"].value)

Quotes
<Cell 'Quotes'.A1>
To refresh Quote information, go to Data > Refresh All.

In [ ]:

print(sheet.cell(row=6,column=6))
print(sheet.cell(row=6,column=6).value)

rangle_arr = sheet["A1:C2"]

for single_cell in rangle_arr:
  print(single_cell[1].value)

print(rangle_arr)

<Cell 'Quotes'.F6>
None
None
Stock Quotes and Portfolio Template
((<Cell 'Quotes'.A1>, <Cell 'Quotes'.B1>, <MergedCell 'Quotes'.C1>), (<Cell 'Quotes'.A2>, <Cell 'Quotes'.B2>, <MergedCell 'Quotes'.C2>))

In [ ]:

for row in sheet.iter_rows(min_row=1, max_row=2, min_col=1, max_col=3, values_only=True):
  print(row)
  #print(row[0].value)

('Stock Quotes', None, None)
('To refresh Quote information, go to Data > Refresh All.', 'Stock Quotes and Portfolio Template', None)

In [ ]:
from openpyxl.xml.constants import MAX_ROW

sales_workbook = load_workbook(filename="sampledatafoodsales.xlsx")

sales_workbook.sheetnames

food_sheet = sales_workbook['FoodSales']

irow_cnt = 1
for row in food_sheet.iter_rows(min_row=1,max_row=1, values_only=True):
  print(row)


print(type(row))


for display_row in food_sheet.iter_rows(min_row=2,max_row=15, values_only=True):
  print(display_row)

('OrderDate', 'Region', 'City', 'Category', 'Product', 'Quantity', 'UnitPrice', 'TotalPrice')
<class 'tuple'>
(datetime.datetime(2020, 1, 1, 0, 0), 'East', 'Boston', 'Bars', 'Carrot', 33.0, 1.7699999999999998, '=FoodSales!$F2*FoodSales!$G2')
(datetime.datetime(2020, 1, 4, 0, 0), 'East', 'Boston', 'Crackers', 'Whole Wheat', 87.0, 3.4899999999999998, '=FoodSales!$F3*FoodSales!$G3')
(datetime.datetime(2020, 1, 7, 0, 0), 'West', 'Los Angeles', 'Cookies', 'Chocolate Chip', 58.0, 1.8699999999999999, '=FoodSales!$F4*FoodSales!$G4')
(datetime.datetime(2020, 1, 10, 0, 0), 'East', 'New York', 'Cookies', 'Chocolate Chip', 82.0, 1.87, '=FoodSales!$F5*FoodSales!$G5')
(datetime.datetime(2020, 1, 13, 0, 0), 'East', 'Boston', 'Cookies', 'Arrowroot', 38.0, 2.18, '=FoodSales!$F6*FoodSales!$G6')
(datetime.datetime(2020, 1, 16, 0, 0), 'East', 'Boston', 'Bars', 'Carrot', 54.0, 1.77, '=FoodSales!$F7*FoodSales!$G7')
(datetime.datetime(2020, 1, 19, 0, 0), 'East', 'Boston', 'Crackers', 'Whole Wheat', 149.0, 3.4899999999999998, '=FoodSales!$F8*FoodSales!$G8')
(datetime.datetime(2020, 1, 22, 0, 0), 'West', 'Los Angeles', 'Bars', 'Carrot', 51.0, 1.77, '=FoodSales!$F9*FoodSales!$G9')
(datetime.datetime(2020, 1, 25, 0, 0), 'East', 'New York', 'Bars', 'Carrot', 100.0, 1.77, '=FoodSales!$F10*FoodSales!$G10')
(datetime.datetime(2020, 1, 28, 0, 0), 'East', 'New York', 'Snacks', 'Potato Chips', 28.0, 1.35, '=FoodSales!$F11*FoodSales!$G11')
(datetime.datetime(2020, 1, 31, 0, 0), 'East', 'Boston', 'Cookies', 'Arrowroot', 36.0, 2.18, '=FoodSales!$F12*FoodSales!$G12')
(datetime.datetime(2020, 2, 3, 0, 0), 'East', 'Boston', 'Cookies', 'Chocolate Chip', 31.0, 1.8699999999999999, '=FoodSales!$F13*FoodSales!$G13')
(datetime.datetime(2020, 2, 6, 0, 0), 'East', 'Boston', 'Crackers', 'Whole Wheat', 28.0, 3.4899999999999998, '=FoodSales!$F14*FoodSales!$G14')
(datetime.datetime(2020, 2, 9, 0, 0), 'West', 'Los Angeles', 'Bars', 'Carrot', 44.0, 1.7699999999999998, '=FoodSales!$F15*FoodSales!$G15')

In [3]:

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:

df = pd.read_excel("sampledatafoodsales.xlsx", sheet_name="FoodSales")

In [10]:
df

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice,TotalPrice
0,2020-01-01,East,Boston,Bars,Carrot,33.0,1.77,58.41
1,2020-01-04,East,Boston,Crackers,Whole Wheat,87.0,3.49,303.63
2,2020-01-07,West,Los Angeles,Cookies,Chocolate Chip,58.0,1.87,108.46
3,2020-01-10,East,New York,Cookies,Chocolate Chip,82.0,1.87,153.34
4,2020-01-13,East,Boston,Cookies,Arrowroot,38.0,2.18,82.84
...,...,...,...,...,...,...,...,...
239,2021-12-18,East,Boston,Cookies,Arrowroot,34.0,2.18,74.12
240,2021-12-21,East,Boston,Cookies,Chocolate Chip,245.0,1.87,458.15
241,2021-12-24,East,Boston,Crackers,Whole Wheat,30.0,3.49,104.70
242,2021-12-27,West,Los Angeles,Bars,Bran,30.0,1.87,56.10
243,2021-12-30,West,Los Angeles,Cookies,Oatmeal Raisin,44.0,2.84,124.96

In [11]:
df.shape

(244, 8)

In [13]:
df.head()

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice,TotalPrice
0,2020-01-01,East,Boston,Bars,Carrot,33.0,1.77,58.41
1,2020-01-04,East,Boston,Crackers,Whole Wheat,87.0,3.49,303.63
2,2020-01-07,West,Los Angeles,Cookies,Chocolate Chip,58.0,1.87,108.46
3,2020-01-10,East,New York,Cookies,Chocolate Chip,82.0,1.87,153.34
4,2020-01-13,East,Boston,Cookies,Arrowroot,38.0,2.18,82.84

In [14]:
df['Quantity'].mean()

63.28688524590164