In [1]:
!pwd
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

/content

In [2]:
!wget https://theunitedstates.io/congress-legislators/legislators-historical.csv

--2022-09-15 04:40:53--  https://theunitedstates.io/congress-legislators/legislators-historical.csv
Resolving theunitedstates.io (theunitedstates.io)... 185.199.110.153, 185.199.111.153, 185.199.108.153, ...
Connecting to theunitedstates.io (theunitedstates.io)|185.199.110.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1460659 (1.4M) [text/csv]
Saving to: ‘legislators-historical.csv’

legislators-histori 100%[===================>]   1.39M  --.-KB/s    in 0.06s

2022-09-15 04:40:53 (25.1 MB/s) - ‘legislators-historical.csv’ saved [1460659/1460659]

In [3]:
dtypes = {
    "first_name": "category",
    "gender": "category",
    "type": "category",
    "state": "category",
    "party": "category",
}
df = pd.read_csv(
    "legislators-historical.csv",
    dtype=dtypes,
    usecols=list(dtypes) + ["birthday", "last_name"],
    parse_dates=["birthday"]
)

In [4]:
df.tail()

      last_name first_name   birthday gender type state       party
12053      Vela    Filemon 1963-02-13      M  rep    TX    Democrat
12054      Reed        Tom 1971-11-18      M  rep    NY  Republican
12055   Delgado    Antonio 1977-01-19      M  rep    NY    Democrat
12056  Walorski     Jackie 1963-08-17      F  rep    IN  Republican
12057     Crist    Charlie 1956-07-24      M  rep    FL    Democrat

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12058 entries, 0 to 12057
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   last_name   12058 non-null  object
 1   first_name  12058 non-null  category
 2   birthday    11508 non-null  datetime64[ns]
 3   gender      12058 non-null  category
 4   type        12058 non-null  category
 5   state       12058 non-null  category
 6   party       11826 non-null  category
dtypes: category(5), datetime64[ns](1), object(1)
memory usage: 309.0+ KB

In [6]:
df

      last_name  first_name   birthday gender type state                party
0       Bassett     Richard 1745-04-02      M  sen    DE  Anti-Administration
1         Bland  Theodorick 1742-03-21      M  rep    VA                  NaN
2         Burke     Aedanus 1743-06-16      M  rep    SC                  NaN
3       Carroll      Daniel 1730-07-22      M  rep    MD                  NaN
4        Clymer      George 1739-03-16      M  rep    PA                  NaN
...         ...         ...        ...    ...  ...   ...                  ...
12053      Vela     Filemon 1963-02-13      M  rep    TX             Democrat
12054      Reed         Tom 1971-11-18      M  rep    NY           Republican
12055   Delgado     Antonio 1977-01-19      M  rep    NY             Democrat
12056  Walorski      Jackie 1963-08-17      F  rep    IN           Republican
12057     Crist     Charlie 1956-07-24      M  rep    FL             Democrat

[12058 rows x 7 columns]

In [7]:
df.dtypes

last_name             object
first_name          category
birthday      datetime64[ns]
gender              category
type                category
state               category
party               category
dtype: object

In [8]:
n_by_state = df.groupby("state")["last_name"].count()

In [9]:
p_by_state = df.groupby(['state','party'])['last_name'].count()

In [10]:
pdf_by_state = df.groupby(['state','party'], as_index=False)['last_name'].count()

In [11]:
type(pdf_by_state)

pandas.core.frame.DataFrame

In [12]:
pdf_by_state

     state           party  last_name
0       AK           Adams          0
1       AK  Adams Democrat          0
2       AK        American          0
3       AK  American Labor          0
4       AK    Anti Jackson          0
...    ...             ...        ...
3475    WY  Union Democrat          0
3476    WY     Union Labor          0
3477    WY        Unionist          0
3478    WY         Unknown          0
3479    WY            Whig          0

[3480 rows x 3 columns]

In [13]:
p_by_state

state  party
AK     Adams             0
       Adams Democrat    0
       American          0
       American Labor    0
       Anti Jackson      0
                        ..
WY     Union Democrat    0
       Union Labor       0
       Unionist          0
       Unknown           0
       Whig              0
Name: last_name, Length: 3480, dtype: int64

In [14]:
p_by_state.index

MultiIndex([('AK',                   'Adams'),
            ('AK',          'Adams Democrat'),
            ('AK',                'American'),
            ('AK',          'American Labor'),
            ('AK',            'Anti Jackson'),
            ('AK',         'Anti Jacksonian'),
            ('AK',            'Anti Masonic'),
            ('AK',     'Anti-Administration'),
            ('AK',         'Anti-Jacksonian'),
            ('AK', 'Anti-Lecompton Democrat'),
            ...
            ('WY',       'Silver Republican'),
            ('WY',               'Socialist'),
            ('WY',           'States Rights'),
            ('WY',  'Unconditional Unionist'),
            ('WY',                   'Union'),
            ('WY',          'Union Democrat'),
            ('WY',             'Union Labor'),
            ('WY',                'Unionist'),
            ('WY',                 'Unknown'),
            ('WY',                    'Whig')],
           names=['state', 'party'], length=3480)

In [15]:
p_by_state['AK']['Republican']

6

In [16]:
p_by_state['AK'][['Republican','Democrat']]

party
Republican    6
Democrat      8
Name: last_name, dtype: int64

In [17]:
p_by_state['AK':'MT']

state  party
AK     Adams             0
       Adams Democrat    0
       American          0
       American Labor    0
       Anti Jackson      0
                        ..
MT     Union Democrat    0
       Union Labor       0
       Unionist          0
       Unknown           0
       Whig              0
Name: last_name, Length: 1800, dtype: int64

In [18]:
p_by_state[('AK','Democrat'):('MT','Democrat')]

state  party
AK     Democrat                       8
       Democrat-Liberal               0
       Democratic Republican          0
       Democratic and Union Labor     0
       Farmer-Labor                   0
                                     ..
MT     Conservative                   0
       Conservative Republican        0
       Constitutional Unionist        0
       Crawford Republican            0
       Democrat                      28
Name: last_name, Length: 1741, dtype: int64

In [19]:
p_by_state[[('AK','Democrat'),('AK','Republican'),('MT','Democrat'),('MT','Republican')]]

state  party
AK     Democrat       8
       Republican     6
MT     Democrat      28
       Republican    22
Name: last_name, dtype: int64

In [20]:
zero_filter = (pdf_by_state['state'] == 'AK' ) & (pdf_by_state['last_name'] >= 1 )

In [21]:
pdf_by_state[zero_filter]

   state        party  last_name
15    AK     Democrat          8
27    AK  Independent          1
48    AK   Republican          6

In [22]:
s_by_type = df.groupby(['state','type','gender'])['last_name'].count()

In [23]:
s_by_type

state  type  gender
AK     rep   F          0
             M         11
       sen   F          0
             M          6
AL     rep   F          2
                       ..
WV     sen   M         31
WY     rep   F          1
             M         19
       sen   F          0
             M         20
Name: last_name, Length: 232, dtype: int64

In [24]:
s_by_type = df.groupby(['type','gender'])['last_name'].count()

In [25]:
s_by_type

type  gender
rep   F           215
      M         10003
sen   F            34
      M          1806
Name: last_name, dtype: int64

In [26]:
p_by_state['AK']

party
Adams                         0
Adams Democrat                0
American                      0
American Labor                0
Anti Jackson                  0
Anti Jacksonian               0
Anti Masonic                  0
Anti-Administration           0
Anti-Jacksonian               0
Anti-Lecompton Democrat       0
Coalitionist                  0
Conservative                  0
Conservative Republican       0
Constitutional Unionist       0
Crawford Republican           0
Democrat                      8
Democrat-Liberal              0
Democratic Republican         0
Democratic and Union Labor    0
Farmer-Labor                  0
Federalist                    0
Free Silver                   0
Free Soil                     0
Ind. Democrat                 0
Ind. Republican               0
Ind. Republican-Democrat      0
Ind. Whig                     0
Independent                   1
Independent Democrat          0
Jackson                       0
Jackson Republican            0
Jacksonian                    0
Law and Order                 0
Liberal Republican            0
Libertarian                   0
Liberty                       0
National Greenbacker          0
New Progressive               0
Nonpartisan                   0
Nullifier                     0
Popular Democrat              0
Populist                      0
Pro-Administration            0
Progressive                   0
Progressive Republican        0
Prohibitionist                0
Readjuster                    0
Readjuster Democrat           0
Republican                    6
Republican-Conservative       0
Silver Republican             0
Socialist                     0
States Rights                 0
Unconditional Unionist        0
Union                         0
Union Democrat                0
Union Labor                   0
Unionist                      0
Unknown                       0
Whig                          0
Name: last_name, dtype: int64

In [27]:
n_by_state

state
AK      17
AL     209
AR     117
AS       2
AZ      49
CA     368
CO      92
CT     240
DC       2
DE      97
DK       9
FL     162
GA     317
GU       4
HI      24
IA     205
ID      59
IL     488
IN     344
KS     143
KY     373
LA     199
MA     427
MD     305
ME     175
MI     296
MN     162
MO     334
MS     155
MT      53
NC     356
ND      44
NE     128
NH     181
NJ     359
NM      57
NV      56
NY    1469
OH     676
OK      93
OL       2
OR      90
PA    1053
PI      13
PR      19
RI     107
SC     251
SD      51
TN     301
TX     264
UT      55
VA     433
VI       4
VT     115
WA      96
WI     198
WV     120
WY      40
Name: last_name, dtype: int64

In [28]:
ak_filter = df['state'] == 'AK'

In [29]:
df[ak_filter]

        last_name first_name   birthday gender type state        party
6617       Waskey      Frank 1875-04-20      M  rep    AK     Democrat
6645         Cale     Thomas 1848-09-17      M  rep    AK  Independent
7440      Grigsby     George 1874-12-02      M  rep    AK          NaN
7499       Sulzer    Charles 1879-02-24      M  rep    AK          NaN
8037   Sutherland     Daniel 1869-04-17      M  rep    AK   Republican
8234   Wickersham      James 1857-08-24      M  rep    AK   Republican
8875       Dimond    Anthony 1881-11-30      M  rep    AK     Democrat
9817     Gruening     Ernest 1887-02-06      M  sen    AK     Democrat
9949       Rivers      Ralph 1903-05-23      M  rep    AK     Democrat
9983     Bartlett     Edward 1904-04-20      M  sen    AK     Democrat
10080     Pollock     Howard 1920-04-11      M  rep    AK   Republican
10106      Begich   Nicholas 1932-04-06      M  rep    AK     Democrat
10323      Gravel    Maurice 1930-05-13      M  sen    AK     Democrat
11259   Murkowski      Frank 1933-03-28      M  sen    AK   Republican
11383     Stevens        Ted 1923-11-18      M  sen    AK   Republican
11731      Begich       Mark 1962-03-30      M  sen    AK     Democrat
12051       Young        Don 1933-06-09      M  rep    AK   Republican

In [30]:
mt_filter = df['state'] == 'MT'

In [34]:
df_mt = df[mt_filter]

In [35]:
mt_by_state = df_mt.groupby('gender')['last_name'].count()

In [36]:
mt_by_state

gender
F     1
M    52
Name: last_name, dtype: int64

In [37]:
mt_by_state.index

CategoricalIndex(['F', 'M'], categories=['F', 'M'], ordered=False, dtype='category', name='gender')

In [41]:
f_person = df_mt['gender']=='F'

In [43]:
df_mt[f_person]

     last_name first_name   birthday gender type state       party
8818    Rankin  Jeannette 1880-06-11      F  rep    MT  Republican

In [45]:
df

      last_name  first_name   birthday gender type state                party
0       Bassett     Richard 1745-04-02      M  sen    DE  Anti-Administration
1         Bland  Theodorick 1742-03-21      M  rep    VA                  NaN
2         Burke     Aedanus 1743-06-16      M  rep    SC                  NaN
3       Carroll      Daniel 1730-07-22      M  rep    MD                  NaN
4        Clymer      George 1739-03-16      M  rep    PA                  NaN
...         ...         ...        ...    ...  ...   ...                  ...
12053      Vela     Filemon 1963-02-13      M  rep    TX             Democrat
12054      Reed         Tom 1971-11-18      M  rep    NY           Republican
12055   Delgado     Antonio 1977-01-19      M  rep    NY             Democrat
12056  Walorski      Jackie 1963-08-17      F  rep    IN           Republican
12057     Crist     Charlie 1956-07-24      M  rep    FL             Democrat

[12058 rows x 7 columns]

In [46]:
df_period = df.copy()

In [47]:
time_dict = {1700:{'begin':1700, 'end':1749}, 1750:{'begin':1750, 'end':1799}, 1800:{'begin':1800, 'end':1849},
              1850:{'begin':1850, 'end':1899}, 1900:{'begin':1900, 'end':1949}, 1950:{'begin':1950, 'end':1999} }

def get_time_section(date):
  rtr_key = 1200
  range_list = []
  index_s = []
  for items in date.iteritems():
    for key, wedge_dict in time_dict.items():
      
      if( ( wedge_dict['begin'] <= items[1].year) & ( wedge_dict['end'] >= items[1].year ) ):
        range_list.append(key)
        index_s.append(items[0])

    range_list.append( rtr_key)
    index_s.append(items[0])

  sr = pd.Series(range_list)
  sr.index = index_s

  return sr

In [48]:
def get_time_section_new(date_row):
  rtr_key = 1200
  single_date = date_row['birthday']
  year = single_date.year
  for key, wedge_dict in time_dict.items():
    
    if( ( wedge_dict['begin'] <= year) & ( wedge_dict['end'] >= year ) ):
      return key

  return rtr_key

In [ ]:
get_time_section(1874)

1850

In [49]:
df_period['time_period'] = df_period.apply(axis=1,  func=get_time_section_new )

In [50]:
df_period

,last_name,first_name,birthday,gender,type,state,party,time_period
0,Bassett,Richard,1745-04-02,M,sen,DE,Anti-Administration,1700
1,Bland,Theodorick,1742-03-21,M,rep,VA,NaN,1700
2,Burke,Aedanus,1743-06-16,M,rep,SC,NaN,1700
3,Carroll,Daniel,1730-07-22,M,rep,MD,NaN,1700
4,Clymer,George,1739-03-16,M,rep,PA,NaN,1700
...,...,...,...,...,...,...,...,...
12053,Vela,Filemon,1963-02-13,M,rep,TX,Democrat,1950
12054,Reed,Tom,1971-11-18,M,rep,NY,Republican,1950
12055,Delgado,Antonio,1977-01-19,M,rep,NY,Democrat,1950
12056,Walorski,Jackie,1963-08-17,F,rep,IN,Republican,1950
12057,Crist,Charlie,1956-07-24,M,rep,FL,Democrat,1950

In [51]:
time_period_cnt = df_period.groupby(['time_period','gender'])['last_name'].count()

In [52]:
time_period_cnt

time_period  gender
1200         F            0
             M          550
1700         F            0
             M          138
1750         F            0
             M         1804
1800         F            1
             M         3829
1850         F           50
             M         3143
1900         F          124
             M         1912
1950         F           74
             M          433
Name: last_name, dtype: int64

In [ ]:
sp_1200 = df_period['time_period'] == 1200

In [ ]:
df_odd = df_period[sp_1200]

In [ ]:
df_odd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 550 entries, 5 to 10504
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   last_name    550 non-null    object
 1   first_name   550 non-null    category
 2   birthday     0 non-null      datetime64[ns]
 3   gender       550 non-null    category
 4   type         550 non-null    category
 5   state        550 non-null    category
 6   party        507 non-null    category
 7   time_period  550 non-null    int64
dtypes: category(5), datetime64[ns](1), int64(1), object(1)
memory usage: 70.2+ KB

In [ ]:
time_list = {1700:{'begin':1700, 'end':1749}, 1750:{'begin':1750, 'end':1799}, 1800:{'begin':1800, 'end':1849},
              1850:{'begin':1850, 'end':1899}, 1900:{'begin':1900, 'end':1949}, 1950:{'begin':1950, 'end':1999} }

  
for key, my_dict in time_list.items():
  print(key)
  print(type(key))
  print(my_dict['begin'])

1700
<class 'int'>
1700
1750
<class 'int'>
1750
1800
<class 'int'>
1800
1850
<class 'int'>
1850
1900
<class 'int'>
1900
1950
<class 'int'>
1950

In [ ]:
test_date = df.iloc[6].birthday

In [ ]:
print(test_date.year)

1738