In [ ]:
!pwd
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

/content

In [ ]:
!pip install gapminder

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gapminder
  Downloading gapminder-0.1-py3-none-any.whl (32 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from gapminder) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->gapminder) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->gapminder) (2022.2.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->gapminder) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->gapminder) (1.15.0)
Installing collected packages: gapminder
Successfully installed gapminder-0.1

In [ ]:
from gapminder import gapminder

In [50]:
gapminder.head()

                            lifeExp       pop   gdpPercap
continent country     year
Asia      Afghanistan 1952   28.801   8425333  779.445314
                      1957   30.332   9240934  820.853030
                      1962   31.997  10267083  853.100710
                      1967   34.020  11537966  836.197138
                      1972   36.088  13079460  739.981106

In [ ]:
gapminder.index
gapminder.set_index(['continent', 'country', 'year'], inplace=True)
gapminder.head()

                            lifeExp       pop   gdpPercap
continent country     year
Asia      Afghanistan 1952   28.801   8425333  779.445314
                      1957   30.332   9240934  820.853030
                      1962   31.997  10267083  853.100710
                      1967   34.020  11537966  836.197138
                      1972   36.088  13079460  739.981106

In [ ]:
gapminder.index

MultiIndex([(  'Asia', 'Afghanistan', 1952),
            (  'Asia', 'Afghanistan', 1957),
            (  'Asia', 'Afghanistan', 1962),
            (  'Asia', 'Afghanistan', 1967),
            (  'Asia', 'Afghanistan', 1972),
            (  'Asia', 'Afghanistan', 1977),
            (  'Asia', 'Afghanistan', 1982),
            (  'Asia', 'Afghanistan', 1987),
            (  'Asia', 'Afghanistan', 1992),
            (  'Asia', 'Afghanistan', 1997),
            ...
            ('Africa',    'Zimbabwe', 1962),
            ('Africa',    'Zimbabwe', 1967),
            ('Africa',    'Zimbabwe', 1972),
            ('Africa',    'Zimbabwe', 1977),
            ('Africa',    'Zimbabwe', 1982),
            ('Africa',    'Zimbabwe', 1987),
            ('Africa',    'Zimbabwe', 1992),
            ('Africa',    'Zimbabwe', 1997),
            ('Africa',    'Zimbabwe', 2002),
            ('Africa',    'Zimbabwe', 2007)],
           names=['continent', 'country', 'year'], length=1704)

In [ ]:
gapminder.loc['Africa']

               lifeExp       pop    gdpPercap
country  year
Algeria  1952   43.077   9279525  2449.008185
         1957   45.685  10270856  3013.976023
         1962   48.303  11000948  2550.816880
         1967   51.407  12760499  3246.991771
         1972   54.518  14760787  4182.663766
...                ...       ...          ...
Zimbabwe 1987   62.351   9216418   706.157306
         1992   60.377  10704340   693.420786
         1997   46.809  11404948   792.449960
         2002   39.989  11926563   672.038623
         2007   43.487  12311143   469.709298

[624 rows x 3 columns]

In [ ]:
gapminder.loc[('Africa','Zimbabwe')]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

      lifeExp       pop   gdpPercap
year
1952   48.451   3080907  406.884115
1957   50.469   3646340  518.764268
1962   52.358   4277736  527.272182
1967   53.995   4995432  569.795071
1972   55.635   5861135  799.362176
1977   57.674   6642107  685.587682
1982   60.363   7636524  788.855041
1987   62.351   9216418  706.157306
1992   60.377  10704340  693.420786
1997   46.809  11404948  792.449960
2002   39.989  11926563  672.038623
2007   43.487  12311143  469.709298

In [ ]:
gapminder.loc[('Africa','Zimbabwe',1992)]

lifeExp      6.037700e+01
pop          1.070434e+07
gdpPercap    6.934208e+02
Name: (Africa, Zimbabwe, 1992), dtype: float64

In [ ]:
gapminder_pivot = gapminder.unstack()

In [ ]:
gapminder_pivot

                         lifeExp                                          \
year                        1952    1957    1962    1967    1972    1977
continent country
Africa    Algeria         43.077  45.685  48.303  51.407  54.518  58.014
          Angola          30.015  31.999  34.000  35.985  37.928  39.483
          Benin           38.223  40.358  42.618  44.885  47.014  49.190
          Botswana        47.622  49.618  51.520  53.298  56.024  59.319
          Burkina Faso    31.975  34.906  37.814  40.697  43.591  46.137
...                          ...     ...     ...     ...     ...     ...
Europe    Switzerland     69.620  70.560  71.320  72.770  73.780  75.390
          Turkey          43.585  48.079  52.098  54.336  57.005  59.507
          United Kingdom  69.180  70.420  70.760  71.360  72.010  72.760
Oceania   Australia       69.120  70.330  70.930  71.100  71.930  73.490
          New Zealand     69.390  70.260  71.240  71.520  71.890  72.220

                                                          ...     gdpPercap  \
year                        1982    1987    1992    1997  ...          1962
continent country                                         ...
Africa    Algeria         61.368  65.799  67.744  69.152  ...   2550.816880
          Angola          39.942  39.906  40.647  40.963  ...   4269.276742
          Benin           50.904  52.337  53.919  54.777  ...    949.499064
          Botswana        61.484  63.622  62.745  52.556  ...    983.653976
          Burkina Faso    48.122  49.557  50.260  50.324  ...    722.512021
...                          ...     ...     ...     ...  ...           ...
Europe    Switzerland     76.210  77.410  78.030  79.370  ...  20431.092700
          Turkey          61.036  63.108  66.146  68.835  ...   2322.869908
          United Kingdom  74.040  75.007  76.420  77.218  ...  12477.177070
Oceania   Australia       74.740  76.320  77.560  78.830  ...  12217.226860
          New Zealand     73.840  74.320  76.330  77.550  ...  13175.678000

                                                                    \
year                              1967          1972          1977
continent country
Africa    Algeria          3246.991771   4182.663766   4910.416756
          Angola           5522.776375   5473.288005   3008.647355
          Benin            1035.831411   1085.796879   1029.161251
          Botswana         1214.709294   2263.611114   3214.857818
          Burkina Faso      794.826560    854.735976    743.387037
...                                ...           ...           ...
Europe    Switzerland     22966.144320  27195.113040  26982.290520
          Turkey           2826.356387   3450.696380   4269.122326
          United Kingdom  14142.850890  15895.116410  17428.748460
Oceania   Australia       14526.124650  16788.629480  18334.197510
          New Zealand     14463.918930  16046.037280  16233.717700

                                                                    \
year                              1982          1987          1992
continent country
Africa    Algeria          5745.160213   5681.358539   5023.216647
          Angola           2756.953672   2430.208311   2627.845685
          Benin            1277.897616   1225.856010   1191.207681
          Botswana         4551.142150   6205.883850   7954.111645
          Burkina Faso      807.198586    912.063142    931.752773
...                                ...           ...           ...
Europe    Switzerland     28397.715120  30281.704590  31871.530300
          Turkey           4241.356344   5089.043686   5678.348271
          United Kingdom  18232.424520  21664.787670  22705.092540
Oceania   Australia       19477.009280  21888.889030  23424.766830
          New Zealand     17632.410400  19007.191290  18363.324940


year                              1997          2002          2007
continent country
Africa    Algeria          4797.295051   5288.040382   6223.367465
          Angola           2277.140884   2773.287312   4797.231267
          Benin            1232.975292   1372.877931   1441.284873
          Botswana         8647.142313  11003.605080  12569.851770
          Burkina Faso      946.294962   1037.645221   1217.032994
...                                ...           ...           ...
Europe    Switzerland     32135.323010  34480.957710  37506.419070
          Turkey           6601.429915   6508.085718   8458.276384
          United Kingdom  26074.531360  29478.999190  33203.261280
Oceania   Australia       26997.936570  30687.754730  34435.367440
          New Zealand     21050.413770  23189.801350  25185.009110

[142 rows x 36 columns]

In [ ]:
gapminder_unpivot = gapminder_pivot.stack()
gapminder_unpivot

                            lifeExp       pop     gdpPercap
continent country     year
Africa    Algeria     1952   43.077   9279525   2449.008185
                      1957   45.685  10270856   3013.976023
                      1962   48.303  11000948   2550.816880
                      1967   51.407  12760499   3246.991771
                      1972   54.518  14760787   4182.663766
...                             ...       ...           ...
Oceania   New Zealand 1987   74.320   3317166  19007.191290
                      1992   76.330   3437674  18363.324940
                      1997   77.550   3676187  21050.413770
                      2002   79.110   3908037  23189.801350
                      2007   80.204   4115771  25185.009110

[1704 rows x 3 columns]

In [ ]:
gapminder_reset = gapminder.reset_index()
gapminder_reset

     continent      country  year  lifeExp       pop   gdpPercap
0         Asia  Afghanistan  1952   28.801   8425333  779.445314
1         Asia  Afghanistan  1957   30.332   9240934  820.853030
2         Asia  Afghanistan  1962   31.997  10267083  853.100710
3         Asia  Afghanistan  1967   34.020  11537966  836.197138
4         Asia  Afghanistan  1972   36.088  13079460  739.981106
...        ...          ...   ...      ...       ...         ...
1699    Africa     Zimbabwe  1987   62.351   9216418  706.157306
1700    Africa     Zimbabwe  1992   60.377  10704340  693.420786
1701    Africa     Zimbabwe  1997   46.809  11404948  792.449960
1702    Africa     Zimbabwe  2002   39.989  11926563  672.038623
1703    Africa     Zimbabwe  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [ ]:
gapminder_reset.index

RangeIndex(start=0, stop=1704, step=1)

In [ ]:
gapminder_reset.loc[4]

continent           Asia
country      Afghanistan
year                1972
lifeExp           36.088
pop             13079460
gdpPercap     739.981106
Name: 4, dtype: object

In [ ]:
gapminder_reset.loc['Asia']

KeyError: ignored

In [ ]:
gapminder_reset[2:5]

  continent      country  year  lifeExp       pop   gdpPercap
2      Asia  Afghanistan  1962   31.997  10267083  853.100710
3      Asia  Afghanistan  1967   34.020  11537966  836.197138
4      Asia  Afghanistan  1972   36.088  13079460  739.981106

In [ ]:
gapminder_reset.loc[2:6,['year','pop']]

   year       pop
2  1962  10267083
3  1967  11537966
4  1972  13079460
5  1977  14880372
6  1982  12881816

In [ ]:
gapminder_reset

     continent      country  year  lifeExp       pop   gdpPercap
0         Asia  Afghanistan  1952   28.801   8425333  779.445314
1         Asia  Afghanistan  1957   30.332   9240934  820.853030
2         Asia  Afghanistan  1962   31.997  10267083  853.100710
3         Asia  Afghanistan  1967   34.020  11537966  836.197138
4         Asia  Afghanistan  1972   36.088  13079460  739.981106
...        ...          ...   ...      ...       ...         ...
1699    Africa     Zimbabwe  1987   62.351   9216418  706.157306
1700    Africa     Zimbabwe  1992   60.377  10704340  693.420786
1701    Africa     Zimbabwe  1997   46.809  11404948  792.449960
1702    Africa     Zimbabwe  2002   39.989  11926563  672.038623
1703    Africa     Zimbabwe  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [ ]:
gapminder_reset.loc[gapminder_reset['year'] == 1992]

     continent             country  year  lifeExp       pop    gdpPercap
8         Asia         Afghanistan  1992   41.674  16317921   649.341395
20      Europe             Albania  1992   71.581   3326498  2497.437901
32      Africa             Algeria  1992   67.744  26298373  5023.216647
44      Africa              Angola  1992   40.647   8735988  2627.845685
56    Americas           Argentina  1992   71.868  33958947  9308.418710
...        ...                 ...   ...      ...       ...          ...
1652      Asia             Vietnam  1992   67.662  69940728   989.023149
1664      Asia  West Bank and Gaza  1992   69.718   2104779  6017.654756
1676      Asia         Yemen, Rep.  1992   55.599  13367997  1879.496673
1688    Africa              Zambia  1992   46.100   8381163  1210.884633
1700    Africa            Zimbabwe  1992   60.377  10704340   693.420786

[142 rows x 6 columns]

In [ ]:
gapminder_reset.loc[(gapminder_reset['pop'] > 2104780) & (gapminder_reset['year'] == 1992)]

     continent      country  year  lifeExp       pop     gdpPercap
8         Asia  Afghanistan  1992   41.674  16317921    649.341395
20      Europe      Albania  1992   71.581   3326498   2497.437901
32      Africa      Algeria  1992   67.744  26298373   5023.216647
44      Africa       Angola  1992   40.647   8735988   2627.845685
56    Americas    Argentina  1992   71.868  33958947   9308.418710
...        ...          ...   ...      ...       ...           ...
1640  Americas    Venezuela  1992   71.150  20265563  10733.926310
1652      Asia      Vietnam  1992   67.662  69940728    989.023149
1676      Asia  Yemen, Rep.  1992   55.599  13367997   1879.496673
1688    Africa       Zambia  1992   46.100   8381163   1210.884633
1700    Africa     Zimbabwe  1992   60.377  10704340    693.420786

[120 rows x 6 columns]

In [ ]:
gapminder_reset

     continent      country  year  lifeExp       pop   gdpPercap
0         Asia  Afghanistan  1952   28.801   8425333  779.445314
1         Asia  Afghanistan  1957   30.332   9240934  820.853030
2         Asia  Afghanistan  1962   31.997  10267083  853.100710
3         Asia  Afghanistan  1967   34.020  11537966  836.197138
4         Asia  Afghanistan  1972   36.088  13079460  739.981106
...        ...          ...   ...      ...       ...         ...
1699    Africa     Zimbabwe  1987   62.351   9216418  706.157306
1700    Africa     Zimbabwe  1992   60.377  10704340  693.420786
1701    Africa     Zimbabwe  1997   46.809  11404948  792.449960
1702    Africa     Zimbabwe  2002   39.989  11926563  672.038623
1703    Africa     Zimbabwe  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [ ]:
gg = gapminder_reset.groupby(['continent','country','year'])['pop'].mean()

In [ ]:
gg.index

MultiIndex([( 'Africa',     'Algeria', 1952),
            ( 'Africa',     'Algeria', 1957),
            ( 'Africa',     'Algeria', 1962),
            ( 'Africa',     'Algeria', 1967),
            ( 'Africa',     'Algeria', 1972),
            ( 'Africa',     'Algeria', 1977),
            ( 'Africa',     'Algeria', 1982),
            ( 'Africa',     'Algeria', 1987),
            ( 'Africa',     'Algeria', 1992),
            ( 'Africa',     'Algeria', 1997),
            ...
            ('Oceania', 'New Zealand', 1962),
            ('Oceania', 'New Zealand', 1967),
            ('Oceania', 'New Zealand', 1972),
            ('Oceania', 'New Zealand', 1977),
            ('Oceania', 'New Zealand', 1982),
            ('Oceania', 'New Zealand', 1987),
            ('Oceania', 'New Zealand', 1992),
            ('Oceania', 'New Zealand', 1997),
            ('Oceania', 'New Zealand', 2002),
            ('Oceania', 'New Zealand', 2007)],
           names=['continent', 'country', 'year'], length=1704)

In [ ]:
gg.loc[:,'New Zealand',:]

continent  year
Oceania    1952    1994794.0
           1957    2229407.0
           1962    2488550.0
           1967    2728150.0
           1972    2929100.0
           1977    3164900.0
           1982    3210650.0
           1987    3317166.0
           1992    3437674.0
           1997    3676187.0
           2002    3908037.0
           2007    4115771.0
Name: pop, dtype: float64

In [ ]:
gapminder.index

MultiIndex([(  'Asia', 'Afghanistan', 1952),
            (  'Asia', 'Afghanistan', 1957),
            (  'Asia', 'Afghanistan', 1962),
            (  'Asia', 'Afghanistan', 1967),
            (  'Asia', 'Afghanistan', 1972),
            (  'Asia', 'Afghanistan', 1977),
            (  'Asia', 'Afghanistan', 1982),
            (  'Asia', 'Afghanistan', 1987),
            (  'Asia', 'Afghanistan', 1992),
            (  'Asia', 'Afghanistan', 1997),
            ...
            ('Africa',    'Zimbabwe', 1962),
            ('Africa',    'Zimbabwe', 1967),
            ('Africa',    'Zimbabwe', 1972),
            ('Africa',    'Zimbabwe', 1977),
            ('Africa',    'Zimbabwe', 1982),
            ('Africa',    'Zimbabwe', 1987),
            ('Africa',    'Zimbabwe', 1992),
            ('Africa',    'Zimbabwe', 1997),
            ('Africa',    'Zimbabwe', 2002),
            ('Africa',    'Zimbabwe', 2007)],
           names=['continent', 'country', 'year'], length=1704)

In [ ]:
gapminder.loc[:,'Zimbabwe',:]

                         lifeExp       pop   gdpPercap
continent country  year
Africa    Zimbabwe 1952   48.451   3080907  406.884115
                   1957   50.469   3646340  518.764268
                   1962   52.358   4277736  527.272182
                   1967   53.995   4995432  569.795071
                   1972   55.635   5861135  799.362176
                   1977   57.674   6642107  685.587682
                   1982   60.363   7636524  788.855041
                   1987   62.351   9216418  706.157306
                   1992   60.377  10704340  693.420786
                   1997   46.809  11404948  792.449960
                   2002   39.989  11926563  672.038623
                   2007   43.487  12311143  469.709298

In [ ]:
gapminder

                            lifeExp       pop   gdpPercap
continent country     year
Asia      Afghanistan 1952   28.801   8425333  779.445314
                      1957   30.332   9240934  820.853030
                      1962   31.997  10267083  853.100710
                      1967   34.020  11537966  836.197138
                      1972   36.088  13079460  739.981106
...                             ...       ...         ...
Africa    Zimbabwe    1987   62.351   9216418  706.157306
                      1992   60.377  10704340  693.420786
                      1997   46.809  11404948  792.449960
                      2002   39.989  11926563  672.038623
                      2007   43.487  12311143  469.709298

[1704 rows x 3 columns]

In [ ]:
gapminder['pop']

continent  country      year
Asia       Afghanistan  1952     8425333
                        1957     9240934
                        1962    10267083
                        1967    11537966
                        1972    13079460
                                  ...
Africa     Zimbabwe     1987     9216418
                        1992    10704340
                        1997    11404948
                        2002    11926563
                        2007    12311143
Name: pop, Length: 1704, dtype: int64

In [ ]:
gapminder.loc[:, 'pop']

continent  country      year
Asia       Afghanistan  1952     8425333
                        1957     9240934
                        1962    10267083
                        1967    11537966
                        1972    13079460
                                  ...
Africa     Zimbabwe     1987     9216418
                        1992    10704340
                        1997    11404948
                        2002    11926563
                        2007    12311143
Name: pop, Length: 1704, dtype: int64

In [ ]:
gapminder_reset

     continent      country  year  lifeExp       pop   gdpPercap
0         Asia  Afghanistan  1952   28.801   8425333  779.445314
1         Asia  Afghanistan  1957   30.332   9240934  820.853030
2         Asia  Afghanistan  1962   31.997  10267083  853.100710
3         Asia  Afghanistan  1967   34.020  11537966  836.197138
4         Asia  Afghanistan  1972   36.088  13079460  739.981106
...        ...          ...   ...      ...       ...         ...
1699    Africa     Zimbabwe  1987   62.351   9216418  706.157306
1700    Africa     Zimbabwe  1992   60.377  10704340  693.420786
1701    Africa     Zimbabwe  1997   46.809  11404948  792.449960
1702    Africa     Zimbabwe  2002   39.989  11926563  672.038623
1703    Africa     Zimbabwe  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [ ]:
gapminder_reset.loc[:,'continent':'year']

     continent      country  year
0         Asia  Afghanistan  1952
1         Asia  Afghanistan  1957
2         Asia  Afghanistan  1962
3         Asia  Afghanistan  1967
4         Asia  Afghanistan  1972
...        ...          ...   ...
1699    Africa     Zimbabwe  1987
1700    Africa     Zimbabwe  1992
1701    Africa     Zimbabwe  1997
1702    Africa     Zimbabwe  2002
1703    Africa     Zimbabwe  2007

[1704 rows x 3 columns]

In [ ]:
gapminder_reset.loc[gapminder_reset['continent'] == 'Asia']

     continent      country  year  lifeExp       pop    gdpPercap
0         Asia  Afghanistan  1952   28.801   8425333   779.445314
1         Asia  Afghanistan  1957   30.332   9240934   820.853030
2         Asia  Afghanistan  1962   31.997  10267083   853.100710
3         Asia  Afghanistan  1967   34.020  11537966   836.197138
4         Asia  Afghanistan  1972   36.088  13079460   739.981106
...        ...          ...   ...      ...       ...          ...
1675      Asia  Yemen, Rep.  1987   52.922  11219340  1971.741538
1676      Asia  Yemen, Rep.  1992   55.599  13367997  1879.496673
1677      Asia  Yemen, Rep.  1997   58.020  15826497  2117.484526
1678      Asia  Yemen, Rep.  2002   60.308  18701257  2234.820827
1679      Asia  Yemen, Rep.  2007   62.698  22211743  2280.769906

[396 rows x 6 columns]

In [ ]:
gapminder

                            lifeExp       pop   gdpPercap
continent country     year
Asia      Afghanistan 1952   28.801   8425333  779.445314
                      1957   30.332   9240934  820.853030
                      1962   31.997  10267083  853.100710
                      1967   34.020  11537966  836.197138
                      1972   36.088  13079460  739.981106
...                             ...       ...         ...
Africa    Zimbabwe    1987   62.351   9216418  706.157306
                      1992   60.377  10704340  693.420786
                      1997   46.809  11404948  792.449960
                      2002   39.989  11926563  672.038623
                      2007   43.487  12311143  469.709298

[1704 rows x 3 columns]

In [ ]:
gapminder.loc['Asia','Afghanistan',[1952,1967,1972]]

                            lifeExp       pop   gdpPercap
continent country     year
Asia      Afghanistan 1952   28.801   8425333  779.445314
                      1967   34.020  11537966  836.197138
                      1972   36.088  13079460  739.981106

In [ ]:
gapminder.loc['Africa','Algeria',:]

                        lifeExp       pop    gdpPercap
continent country year
Africa    Algeria 1952   43.077   9279525  2449.008185
                  1957   45.685  10270856  3013.976023
                  1962   48.303  11000948  2550.816880
                  1967   51.407  12760499  3246.991771
                  1972   54.518  14760787  4182.663766
                  1977   58.014  17152804  4910.416756
                  1982   61.368  20033753  5745.160213
                  1987   65.799  23254956  5681.358539
                  1992   67.744  26298373  5023.216647
                  1997   69.152  29072015  4797.295051
                  2002   70.994  31287142  5288.040382
                  2007   72.301  33333216  6223.367465

In [ ]:
rr = gapminder.groupby(['continent','country'])['pop'].count()

In [ ]:
rr.index

MultiIndex([( 'Africa',                  'Algeria'),
            ( 'Africa',                   'Angola'),
            ( 'Africa',                    'Benin'),
            ( 'Africa',                 'Botswana'),
            ( 'Africa',             'Burkina Faso'),
            ( 'Africa',                  'Burundi'),
            ( 'Africa',                 'Cameroon'),
            ( 'Africa', 'Central African Republic'),
            ( 'Africa',                     'Chad'),
            ( 'Africa',                  'Comoros'),
            ...
            ( 'Europe',                   'Serbia'),
            ( 'Europe',          'Slovak Republic'),
            ( 'Europe',                 'Slovenia'),
            ( 'Europe',                    'Spain'),
            ( 'Europe',                   'Sweden'),
            ( 'Europe',              'Switzerland'),
            ( 'Europe',                   'Turkey'),
            ( 'Europe',           'United Kingdom'),
            ('Oceania',                'Australia'),
            ('Oceania',              'New Zealand')],
           names=['continent', 'country'], length=142)

In [ ]:
rr.loc['Africa',:]

continent  country
Africa     Algeria                     12
           Angola                      12
           Benin                       12
           Botswana                    12
           Burkina Faso                12
           Burundi                     12
           Cameroon                    12
           Central African Republic    12
           Chad                        12
           Comoros                     12
           Congo, Dem. Rep.            12
           Congo, Rep.                 12
           Cote d'Ivoire               12
           Djibouti                    12
           Egypt                       12
           Equatorial Guinea           12
           Eritrea                     12
           Ethiopia                    12
           Gabon                       12
           Gambia                      12
           Ghana                       12
           Guinea                      12
           Guinea-Bissau               12
           Kenya                       12
           Lesotho                     12
           Liberia                     12
           Libya                       12
           Madagascar                  12
           Malawi                      12
           Mali                        12
           Mauritania                  12
           Mauritius                   12
           Morocco                     12
           Mozambique                  12
           Namibia                     12
           Niger                       12
           Nigeria                     12
           Reunion                     12
           Rwanda                      12
           Sao Tome and Principe       12
           Senegal                     12
           Sierra Leone                12
           Somalia                     12
           South Africa                12
           Sudan                       12
           Swaziland                   12
           Tanzania                    12
           Togo                        12
           Tunisia                     12
           Uganda                      12
           Zambia                      12
           Zimbabwe                    12
Name: pop, dtype: int64

In [ ]:
rr.loc['Africa','Gabon':'Liyba']

continent  country
Africa     Gabon            12
           Gambia           12
           Ghana            12
           Guinea           12
           Guinea-Bissau    12
           Kenya            12
           Lesotho          12
           Liberia          12
           Libya            12
Name: pop, dtype: int64

In [ ]:
gapminder.loc['Africa',['Gabon','Libya'],:]

                        lifeExp      pop     gdpPercap
continent country year
Africa    Gabon   1952   37.003   420702   4293.476475
                  1957   38.999   434904   4976.198099
                  1962   40.489   455661   6631.459222
                  1967   44.598   489004   8358.761987
                  1972   48.690   537977  11401.948410
                  1977   52.790   706367  21745.573280
                  1982   56.564   753874  15113.361940
                  1987   60.190   880397  11864.408440
                  1992   61.366   985739  13522.157520
                  1997   60.461  1126189  14722.841880
                  2002   56.761  1299304  12521.713920
                  2007   56.735  1454867  13206.484520
          Libya   1952   42.723  1019729   2387.548060
                  1957   45.289  1201578   3448.284395
                  1962   47.808  1441863   6757.030816
                  1967   50.227  1759224  18772.751690
                  1972   52.773  2183877  21011.497210
                  1977   57.442  2721783  21951.211760
                  1982   62.155  3344074  17364.275380
                  1987   66.234  3799845  11770.589800
                  1992   68.755  4364501   9640.138501
                  1997   71.555  4759670   9467.446056
                  2002   72.737  5368585   9534.677467
                  2007   73.952  6036914  12057.499280

In [ ]:
gapminder

                            lifeExp       pop   gdpPercap
continent country     year
Asia      Afghanistan 1952   28.801   8425333  779.445314
                      1957   30.332   9240934  820.853030
                      1962   31.997  10267083  853.100710
                      1967   34.020  11537966  836.197138
                      1972   36.088  13079460  739.981106
...                             ...       ...         ...
Africa    Zimbabwe    1987   62.351   9216418  706.157306
                      1992   60.377  10704340  693.420786
                      1997   46.809  11404948  792.449960
                      2002   39.989  11926563  672.038623
                      2007   43.487  12311143  469.709298

[1704 rows x 3 columns]

In [ ]:
gapminder.loc['Africa','Gabon',:]

                        lifeExp      pop     gdpPercap
continent country year
Africa    Gabon   1952   37.003   420702   4293.476475
                  1957   38.999   434904   4976.198099
                  1962   40.489   455661   6631.459222
                  1967   44.598   489004   8358.761987
                  1972   48.690   537977  11401.948410
                  1977   52.790   706367  21745.573280
                  1982   56.564   753874  15113.361940
                  1987   60.190   880397  11864.408440
                  1992   61.366   985739  13522.157520
                  1997   60.461  1126189  14722.841880
                  2002   56.761  1299304  12521.713920
                  2007   56.735  1454867  13206.484520

In [51]:
gapminder.loc[('Africa','Gabon',[1957,1962]), :]

                        lifeExp     pop    gdpPercap
continent country year
Africa    Gabon   1957   38.999  434904  4976.198099
                  1962   40.489  455661  6631.459222

In [54]:
gapminder.loc[('Africa','Gabon',1962), :]

lifeExp          40.489000
pop          455661.000000
gdpPercap      6631.459222
Name: (Africa, Gabon, 1962), dtype: float64

In [ ]:
gapminder_reset.index

RangeIndex(start=0, stop=1704, step=1)

In [ ]:
gapminder_reset.loc[gapminder_reset['year'] == 1967]

     continent             country  year  lifeExp       pop    gdpPercap
3         Asia         Afghanistan  1967   34.020  11537966   836.197138
15      Europe             Albania  1967   66.220   1984060  2760.196931
27      Africa             Algeria  1967   51.407  12760499  3246.991771
39      Africa              Angola  1967   35.985   5247469  5522.776375
51    Americas           Argentina  1967   65.634  22934225  8052.953021
...        ...                 ...   ...      ...       ...          ...
1647      Asia             Vietnam  1967   47.838  39463910   637.123289
1659      Asia  West Bank and Gaza  1967   51.631   1142636  2649.715007
1671      Asia         Yemen, Rep.  1967   36.984   6740785   862.442146
1683    Africa              Zambia  1967   47.768   3900000  1777.077318
1695    Africa            Zimbabwe  1967   53.995   4995432   569.795071

[142 rows x 6 columns]

In [ ]:
gapminder.loc['Africa','Gabon':'Libya',:]

UnsortedIndexError: ignored