In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame.from_dict({
    'Name': ['Nik', 'Kate', 'Evan', 'Kyra', np.NaN],
    'Age': [33, 32, 40, 57, np.NaN],
    'Location': ['Toronto', 'London', 'New York', np.NaN, np.NaN]
})

In [2]:
print(df)

   Name   Age  Location
0   Nik  33.0   Toronto
1  Kate  32.0    London
2  Evan  40.0  New York
3  Kyra  57.0       NaN
4   NaN   NaN       NaN

In [3]:
print(df.isnull())

    Name    Age  Location
0  False  False     False
1  False  False     False
2  False  False     False
3  False  False      True
4   True   True      True

In [4]:
print(df.isnull().sum())

Name        1
Age         1
Location    2
dtype: int64

In [5]:
df_drop = df.dropna()

In [6]:
print(df_drop)

   Name   Age  Location
0   Nik  33.0   Toronto
1  Kate  32.0    London
2  Evan  40.0  New York

In [7]:
df.fillna(0)

   Name   Age  Location
0   Nik  33.0   Toronto
1  Kate  32.0    London
2  Evan  40.0  New York
3  Kyra  57.0         0
4     0   0.0         0

In [8]:
df.fillna({'Name':'Someone','Age':25,'Location':'USA'})

      Name   Age  Location
0      Nik  33.0   Toronto
1     Kate  32.0    London
2     Evan  40.0  New York
3     Kyra  57.0       USA
4  Someone  25.0       USA

In [9]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [10]:
df

   Name   Age  Location
0   Nik  33.0   Toronto
1  Kate  32.0    London
2  Evan  40.0  New York
3  Kyra  57.0       NaN
4   NaN  40.5       NaN